.header {
  background-color: var(--background);
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1280px;
  height: 94px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  flex: 1;
  gap: 48px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8585ad;
  text-decoration: none;
}

.icon {
  color: inherit;
}

.link_active {
  color: var(--text-primary-color);
}

.link_position_last {
  flex: 1;
  justify-content: flex-end;
}

.logo {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
}

.label {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.25;
}
